#benefits {
	width: 100%;
	height: 545px;
	background: #ffffff;
	position: relative;
}

#widthBenefits {
	margin: 0 auto;
	width: 1171px;
}

.ourBenefits {
	color: #859aa1;
	position: absolute;
	text-transform: uppercase;
	font-size: x-large;
	top: 90px;
}

.ourBenefits span {
	color: #556b72;
	font-size: 135%;
	letter-spacing: 1px;
}

#widthDescription {
	margin: 0 auto;
	width: 1171px;
	position: relative;
}

#uptime {
	width: 390px;
	height: 163px;
	position: absolute;
	top: 168px;
}

#uptime div img {
	width: 60px;
}

#textUptime {
	position: absolute;
	top: 0;
	left: 95px;
	color: #556b72;
}

#textUptime strong {
	text-transform: uppercase;
	font-size: large;
}

#textUptime span {
	line-height: 23px;
	font-size: medium;
}

#support {
	width: 390px;
	height: 163px;
	position: absolute;
	top: 168px;
	left: 390px;
}

#support img {
	width: 60px;
	position: absolute;
}

#textSupport {
	position: absolute;
	left: 95px;
	top: 0;
	color: #556b72;
}

#textSupport strong {
	text-transform: uppercase;
	font-size: large;
}

#textSupport span {
	line-height: 23px;
	font-size: medium;
}

#protectPC {
	width: 390px;
	height: 163px;
	position: absolute;
	top: 168px;
	right: 0px;
}

#protectPC img {
	width: 60px;
	position: absolute;
}

#textProtectPC {
	position: absolute;
	left: 95px;
	top: 0;
	color: #556b72;
}

#textProtectPC strong {
	text-transform: uppercase;
	font-size: large;
}

#textProtectPC span {
	line-height: 23px;
	font-size: medium;
}

#control {
	width: 390px;
	height: 163px;
	position: absolute;
	top: 331px;
}

#control img {
	width: 60px;
}

#textControl {
	position: absolute;
	left: 95px;
	top: 0;
	color: #556b72;
}

#textControl strong {
	text-transform: uppercase;
	font-size: large;
}

#textControl span {
	line-height: 23px;
	font-size: medium;
}

#transfer {
	width: 390px;
	height: 163px;
	position: absolute;
	top: 331px;
	left: 390px;
}

#transfer img {
	width: 60px;
}

#textTransfer {
	position: absolute;
	left: 95px;
	top: 0;
	color: #556b72;
}

#textTransfer strong {
	text-transform: uppercase;
	font-size: large;
}

#textTransfer span {
	line-height: 23px;
	font-size: medium;
}

#security {
	width: 390px;
	height: 163px;
	position: absolute;
	top: 331px;
	right: 0;
}

#security img {
	width: 60px;
	position: absolute;
}

#textSecurity {
	position: absolute;
	left: 95px;
	top: 0;
	color: #556b72;
}

#textSecurity strong {
	text-transform: uppercase;
	font-size: large;
}

#textSecurity span {
	line-height: 23px;
	font-size: medium;
}