#view {
	width: 100%;
	height: 571px;
	background: #222836;
}

.scroll {
	margin: 0 auto;
	width: 1171px;
	line-height: 571px;
}

.scroll-left {
	width: 59px;
	height: 59px;
	border-radius: 50%;
	color: white;
	font-size: x-large;
	font-weight: 700;
	background-color: transparent;
	outline-style: none;
}

.scroll1 {
	float: right;
}

.scroll-right {
	width: 59px;
	height: 59px;
	border-radius: 50%;
	color: white;
	font-size: x-large;
	font-weight: 700;
	background-color: transparent;
	outline-style: none;
}

#search {
	width: 100%;
	height: 200px;
	background: #e7f4f8;
}

#search .searchDomain {
	position: relative;
	margin: 0 auto;
	width: 1171px;
	height: 100%;
	font-family: sans-serif;
}

#logoSearch {
	position: absolute;
	width: 35px;
	top: 35px;
}

.logo2 {
	color: #859aa1;
	text-transform: uppercase;
	font-size: x-large;
	position: absolute;
	top: 78px;
}

.logo2 span {
	color: #556b72;
	font-size: 137%;
	font-weight: 800;
	letter-spacing: 5px;
}

.inputDomain {
	position: absolute;
	top: 72px;
	right: 0px;
}

#inputSearch {
	color: #556b72;
	width: 400px;
	height: 55px;
	margin-right: 12px;
	padding-left: 20px;
	border: none;
}

#inputTime {
	color: #556b72;
	width: 160px;
	height: 55px;
	margin-right: 12px;
	padding-left: 20px;
	border: none;
}

#inputExit {
	color: #556b72;
	width: 160px;
	height: 55px;
	margin-right: 12px;
	padding-left: 20px;
	border: none;
}

#buttonSearch {
	text-transform: uppercase;
	width: 190px;
	height: 55px;
	color: white;
	background: #ff8261;
	border: none;
}